:root{
    --primaryColor: #5669FF;
    --secondaryColor:#656161;
    --blackColor: #000;
    --whiteColor: #fff;
    --grayColor: #4A4545;
    --grayColor2: #878787;
    --grayColor3: #B4BEC8;
    --blackishColor:  #0F001A;

}